In [3]:
name = '   somirom    '

In [4]:
print(name)

   somirom

In [5]:
type(name)

str

In [12]:
name = 'parul'

In [13]:
print(name)

parul

In [14]:
print(name.title())

Parul

In [19]:
fullname = 'KIRTI KUMAR'

In [20]:
print(fullname)

KIRTI KUMAR

In [18]:
print(fullname.upper())

KIRTI KUMAR

In [21]:
print(fullname.lower())

kirti kumar

In [22]:
firstname = 'kirti'

lastname = 'kumar'

In [ ]:
print

In [ ]:
f string

In [ ]:
custom words ---- {}

In [25]:
firstname = "kitri"
lastname ="kumar"
sentence = f"{firstname.title()} {lastname.title()}"
print(sentence)

Kitri Kumar

In [28]:
print('fav_sub','C++','java','python','oracle')

fav_sub C++ java python oracle

In [33]:
print('fav_sub\n','c\n','c++\n','oops\n','java\n','javascript\n','python\n','oracle\n')

fav_sub
 c
 c++
 oops
 java
 javascript
 python
 oracle

In [35]:
print('fav_sub\n','c\n','c++\n','oops\n\t','java\n\t','javascript\n','python\n','oracle\n')

fav_sub
 c
 c++
 oops
	 java
	 javascript
 python
 oracle

In [42]:
print ('fev_sub' , '\nmath' ' \nc ' , '\n\tC++  ' , '\n\t\tOpp' , ' \n java ' , ' \n\t javasript' , '\n python ' , '\n Oracle ')

fev_sub
math
c
	C++
		Opp
 java
	 javasript
 python
 Oracle

In [41]:
print ('fev_sub\n' , ' c ' , '\n\tC++  ' , '\n\t\tOpp' , ' \n java ' , ' \n\t javasript' , '\n python ' , '\n Oracle ')

fev_sub
  c
	C++
		Opp
 java
	 javasript
 python
 Oracle

In [43]:
name = 'raj'

In [44]:
print(name)

raj

In [52]:
name1 = '     raj'

In [53]:
print(name1)

     raj

In [54]:
name1.lstrip()

'raj'

In [55]:
name_me = '    sam    '

In [56]:
print(name_me)

    sam

In [59]:
name_me.rstrip()

'    sam'

In [60]:
name_me.strip()

'sam'

In [ ]:
# Introduction to List data type

# def: a list is a collection of items in a particular order

# classification : mutable datatype

# List datatype --- []

In [75]:
students = ['ram','chitra','neel','khushal','harsha','krishna','prajakta']

In [76]:
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta']

In [77]:
type(students)

list

In [ ]:
# What is Indexing???

'ram','chitra','neel','khushal','harsha','krishna','prajakta'

In [ ]:
0,1,2,3,4,5,6,7,......

In [89]:
print(students[1])
print(students[3])
print(students[6])
print(students[9])

chitra
khushal
prajakta

IndexError: list index out of range

In [80]:
print(students[2].title())

Neel

In [ ]:
sr. No.
1  - ram  - 0
2  - raj  - 1
3  - neel - 2
4  - ali - 3
5  - nikku - 4
6  - sam - 5 
7  - anita - 6
8  - munna - 7
9  - dell - 8
10 - apple - 9

In [ ]:
# How to add a new element to the list?
# How to modify the element in the list?
# How to delete the element in the list?

In [ ]:
# How to add a new element to the list?

In [ ]:
students = ['ram','chitra','neel','khushal','harsha','krishna','prajakta']

In [ ]:
# Req: i want to add raju to this list

In [92]:
students.append('raju')
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta', 'raju']

In [93]:
students.append('nisha')

In [94]:
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta', 'raju', 'nisha']

In [95]:
students.insert(2, 'rohit')

In [96]:
print(students)

['ram', 'chitra', 'rohit', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta', 'raju', 'nisha']

In [97]:
print(students[6])

krishna

In [ ]:
# How to modify the element in the list?

In [99]:
print(students)

['ram', 'chitra', 'rohit', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta', 'raju', 'nisha']

In [100]:
students[1] = 'sachin'

In [101]:
print(students)

['ram', 'sachin', 'rohit', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta', 'raju', 'nisha']

In [102]:
# How to delete the element in the list?

del students[4]

In [103]:
print(students)

['ram', 'sachin', 'rohit', 'neel', 'harsha', 'krishna', 'prajakta', 'raju', 'nisha']

In [104]:
List[ 'krishna' ,' chaitanya ' , 'paresh' , 'khushal' ,'bhavesh','pankaj','dipak','mayur']

NameError: name 'List' is not defined

In [ ]:
['payal' , 'shweta' , 'mansi' , 'prajakta' , 'kavya' , 'divya' , 'harsha' , 'lina' , 'madhuri' , 'mahi']

In [106]:
Name[ 'krishna' ,' chaitanya ' , 'paresh' , 'khushal' ,'bhavesh','pankaj','dipak','mayur']

NameError: name 'Name' is not defined

In [105]:
List.append["somiron"]
print(Name)

NameError: name 'List' is not defined

In [107]:
list=['pune','nashik','mumbai','dhule','delhi','noida','bhopal','indore','shirpur','nagpur']

In [110]:
list.append('surat')

In [109]:
print(list)

['pune', 'nashik', 'mumbai', 'dhule', 'delhi', 'noida', 'bhopal', 'indore', 'shirpur', 'nagpur', 'surat']

In [113]:
list.append('surat')

In [114]:
print(list)

['pune', 'nashik', 'mumbai', 'dhule', 'delhi', 'noida', 'bhopal', 'indore', 'shirpur', 'nagpur', 'surat', 'surat', 'surat', 'surat', 'surat']

In [121]:
name_you = ['krishna','chaitanya','paresh','khushal','bhavesh','pankaj','dipak','mayur']

In [122]:
print(name_you)

['krishna', 'chaitanya', 'paresh', 'khushal', 'bhavesh', 'pankaj', 'dipak', 'mayur']

In [123]:
name_you.append('newyork')

In [124]:
print(name_you)

['krishna', 'chaitanya', 'paresh', 'khushal', 'bhavesh', 'pankaj', 'dipak', 'mayur', 'newyork']

In [125]:
a=['raj','ram','jay']

In [126]:
print(a)

['raj', 'ram', 'jay']

In [127]:
a[2]='viruu'
a.append('hari')

In [128]:
print(a)

['raj', 'ram', 'viruu', 'hari']

In [129]:
a.insert(3,'harshal')

In [130]:
print(a)

['raj', 'ram', 'viruu', 'harshal', 'hari']

In [ ]:
# Python Program to Display Calendar

# built-in funtion

# In the program below, 

# we import the calendar module.

In [ ]:
# The built-in function month() inside the module takes in the year and the month and displays the calendar 
for that month of the year.

In [131]:
import calendar

yy = 1999  # year
mm = 3    # month
print(calendar.month(yy, mm))

     March 1999
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31